# .gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
docs/_build/

# Virtual environments
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.swn
