body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px 50px;
}

.items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.item {
    display: flex;
    flex-direction: column;
}

.item .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.item .images img {
    object-fit: contain;
    width: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}